monitor {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  width: 800px;
  height: 600px;
}

.row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
  width: 100%;
}

.cell {
  flex: 1;
}

.cell.black {
  background-color: black;
}

.cell.white {
  background-color: white;
}
